<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>setting_lang_en</key>
	<string>English</string>
	<key>friend_search</key>
	<string>搜索好友</string>
	<key>setting_voice</key>
	<string>音量</string>
	<key>chk_remember_pwd</key>
	<string>记住密码</string>
	<key>setting_text_title</key>
	<string>设置</string>
	<key>setting_repeat_pwd</key>
	<string>确认密码:</string>
	<key>userinfo_city</key>
	<string>城市</string>
	<key>login_empty_username</key>
	<string>请输入用户名</string>
	<key>login_username_input</key>
	<string>用户名</string>
	<key>login_username_pwd</key>
	<string>密码</string>
	<key>friendlist_allgroup</key>
	<string>群聊</string>
	<key>info_strory</key>
	<string>资料库</string>
	<key>sign_in</key>
	<string> 签到</string>
	<key>face_sign_in</key>
	<string>当面签到</string>
	<key>scan_signin</key>
	<string>扫码签到</string>
	<key>creat_signin</key>
	<string>发起新签到</string>
	<key>my_creat_signin</key>
	<string>我发起的签到</string>
	<key>partin_signin</key>
	<string>我参与的签到</string>
	<key>workLog</key>
	<string>工作日志</string>
	<key>meetSckedule</key>
	<string>会议日程</string>
	<key>filestore</key>
	<string>文件柜</string>
	<key>resean_signin</key>
	<string>签到事由：</string>
	<key>expireDate</key>
	<string>过期时间：</string>
	<key>chat_allgrouptitle</key>
	<string>群组</string>
	<key>login_findpwd</key>
	<string>忘记密码</string>
	<key>userinfo_viewdetail</key>
	<string>查看详细</string>
	<key>login_success</key>
	<string>登录成功</string>
	<key>userinfo_notexists</key>
	<string>用户不存在</string>
	<key>setting_notify</key>
	<string>新消息提醒</string>
	<key>userinfo_parent</key>
	<string>上级</string>
	<key>setting_new_pwd</key>
	<string>新密码:</string>
	<key>setting_lang</key>
	<string>切换语言</string>
	<key>setting_old_pwd</key>
	<string>旧密码:</string>
	<key>home_group</key>
	<string>朋友圈</string>
	<key>setting_notify_groupchat</key>
	<string>接收群组聊天提醒</string>
	<key>chat_grouptype_system</key>
	<string>系统群</string>
	<key>login_empty_password</key>
	<string>请输入密码</string>
	<key>setting_changepwd</key>
	<string>修改密码</string>
	<key>home_addfriend</key>
	<string>添加朋友</string>
	<key>login_first</key>
	<string>初次使用，请注册</string>
	<key>versionstr</key>
	<string>当前版本 1.0.0（09/12）</string>
	<key>friend_detail_ifo</key>
	<string>详细资料</string>
	<key>setting_feedback_success</key>
	<string>提交意见与反馈信息成功</string>
	<key>chattype_voice</key>
	<string>[语音]</string>
	<key>chat_loading</key>
	<string>正在加载，请稍候……</string>
	<key>setting_nearby</key>
	<string>附近的人</string>
	<key>home_friend</key>
	<string>通讯录</string>
	<key>setting_icon</key>
	<string>设置头像</string>
	<key>update_recent</key>
	<string>当前已是最新版本</string>
	<key>setting_notify_voice</key>
	<string>声音</string>
	<key>chat_group_operatetitle</key>
	<string>联系人操作</string>
	<key>chat_group_top</key>
	<string>置顶对话</string>
	<key>chat_group_canceltop</key>
	<string>取消置顶</string>
	<key>dialog_ok</key>
	<string>确定</string>
	<key>button_cancel</key>
	<string>取消</string>
	<key>chat_groupinfo_deleteconfirm</key>
	<string>确实删除该群组吗？</string>
	<key>chat_groupname</key>
	<string>群聊名称</string>
	<key>chat_allgroupfooter</key>
	<string>%d个群组</string>
	<key>userinfo_addaddress</key>
	<string>添加到通讯录</string>
	<key>login_error_pwd</key>
	<string>登录失败，用户名或密码不正确</string>
	<key>setting_feedback_empty</key>
	<string>请输入你的意见与反馈！</string>
	<key>userarticle_newtext_hint</key>
	<string>输入文字</string>
	<key>friendlist_new</key>
	<string>新同事</string>
	<key>tip_msg_neterror</key>
	<string>网络不稳定，请稍后重试</string>
	<key>friend_circle</key>
	<string>朋友圈</string>
	<key>setting_version_form_error</key>
	<string>版本格式错误</string>
	<key>setting_notify_night</key>
	<string>夜间免打扰（22点至6点不提醒）</string>
	<key>update_new</key>
	<string>有更新,最新版大小为：</string>
	<key>chattype_photo</key>
	<string>[图片]</string>
	<key>setting_changebgimg_process</key>
	<string>正在上传图片，请稍等……</string>
	<key>dialog_cancel</key>
	<string>取消</string>
	<key>setting_feedback_error</key>
	<string>提交意见与反馈信息失败</string>
	<key>sub_error</key>
	<string>操作失败，请重新操作！</string>
	<key>chat_grouptype_normal</key>
	<string>普通群</string>
	<key>setting_feedback</key>
	<string>意见与反馈</string>
	<key>setting_account</key>
	<string>账号</string>
	<key>dialog_prompt</key>
	<string>提示</string>
	<key>setting_notify_vibrate</key>
	<string>震动</string>
	<key>setting_feedback_hint</key>
	<string>在此处输入你的意见与反馈</string>
	<key>setting_checknewversion</key>
	<string>检查新版本</string>
	<key>setting_notify_speaker</key>
	<string>使用听筒播放</string>
	<key>update_loading</key>
	<string>正在获取最新版本信息……</string>
	<key>chk_auto_login</key>
	<string>自动登录</string>
	<key>userinfo_chat</key>
	<string>发送消息</string>
	<key>send_chat</key>
	<string>发送</string>
	<key>login_title</key>
	<string>登录乐聊</string>
	<key>friend_verify_error</key>
	<string>添加好友失败</string>
	<key>alter_error_me</key>
	<string>修改失败，请检查网络</string>
	<key>get_data_error</key>
	<string>请求失败，请检查网络</string>
	<key>add_member_error</key>
	<string>添加失败</string>
	<key>dialog_logout_confirm</key>
	<string>确定退出登录吗？</string>
	<key>chat_expressname</key>
	<string>聊天广场</string>
	<key>login_password</key>
	<string>密码</string>
	<key>setting_feedback_submit</key>
	<string>正在提交，请稍候……</string>
	<key>setting_changIfo</key>
	<string>修改个人信息</string>
	<key>setting_lang_cn</key>
	<string>中文</string>
	<key>setting_changearticlebg_success</key>
	<string>修改照片成功</string>
	<key>login_username</key>
	<string>账号</string>
	<key>userinfo_mobile</key>
	<string>手机</string>
	<key>friend_verify_success</key>
	<string>添加好友成功，请等待对方通过</string>
	<key>friend_verify_ok</key>
	<string>好友验证成功</string>
	<key>friend_verify_on</key>
	<string>好友验证失败</string>
	<key>chat_beginchat</key>
	<string>进入群聊</string>
	<key>button_delAndexit</key>
	<string>删除并退出</string>
	<key>home_addgroup</key>
	<string>创建群组</string>
	<key>chat_groupinfo_creator</key>
	<string>创建人</string>
	<key>chat_groupinfo_createdate</key>
	<string>创建日期</string>
	<key>chat_groupinfo_memo</key>
	<string>群备注</string>
	<key>chat_groupinfo_memo_hint</key>
	<string>点击此处添加群备注</string>
	<key>chat_group_membermemo_success</key>
	<string>设置备注成功</string>
	<key>chat_group_name_success</key>
	<string>修改群组名称成功</string>
	<key>setting_changearticlebg_process</key>
	<string>正在上传照片，请稍候……</string>
	<key>login_back</key>
	<string>请登录</string>
	<key>home_chat</key>
	<string>聊天</string>
	<key>setting_changearticlebg_error</key>
	<string>修改照片失败</string>
	<key>userinfo_email</key>
	<string>Email</string>
	<key>home_matter</key>
	<string>事项</string>
	<key>userinfo_phone</key>
	<string>办公电话</string>
	<key>login_process</key>
	<string>正在登录，请稍候……</string>
	<key>setting_switch</key>
	<string>切换账户</string>
	<key>button_submit</key>
	<string>提交</string>
	<key>button_login</key>
	<string>登录</string>
	<key>button_takePhoto</key>
	<string>拍照</string>
	<key>button_selectPhoto</key>
	<string>图片库</string>
	<key>button_back</key>
	<string>返回</string>
	<key>userarticle_newtext_empty</key>
	<string>发表的文字不能为空</string>
	<key>msg_newtext_empty</key>
	<string>不能发送空文本</string>
	<key>known</key>
	<string>知道了</string>
	<key>button_send</key>
	<string>发送</string>
	<key>userarticle_comment_empty</key>
	<string>评论内容不能为空</string>
	<key>userarticle_newtext_sending</key>
	<string>正在发表文字，请稍候……</string>
	<key>userarticle_newfile_sending</key>
	<string>正在分享图片，请稍候……</string>
	<key>userarticle_newtext_success</key>
	<string>发表文字成功</string>
	<key>userarticle_newtext</key>
	<string>发表文字</string>
	<key>userarticle_newtext_error</key>
	<string>发表文字失败，请检查网络</string>
	<key>userarticle_newfile</key>
	<string>分享图片</string>
	<key>userarticle_newfile_success</key>
	<string>发表图片成功</string>
	<key>userarticle_newfile_error</key>
	<string>发表图片失败，请检查网络</string>
	<key>userarticle_comment_good_sending</key>
	<string>正在提交，请稍候……</string>
	<key>userarticle_comment_sending</key>
	<string>正在发表评论，请稍候……</string>
	<key>userarticle_comment_good_success</key>
	<string>操作成功</string>
	<key>userarticle_comment_good_duplicate</key>
	<string>不能重复点赞</string>
	<key>userarticle_comment_good</key>
	<string>赞</string>
	<key>userarticle_newshare</key>
	<string>分享链接</string>
	<key>userarticle_newshareurl_empty</key>
	<string>分享的链接不能为空</string>
	<key>userarticle_newshare_sending</key>
	<string>正在分享链接，请稍候……</string>
	<key>userarticle_newshare_success</key>
	<string>分享链接成功</string>
	<key>userarticle_newshare_error</key>
	<string>分享链接失败，请检查网络</string>
	<key>userarticle_newshare_error_ format</key>
	<string>格式不正确，例如：www.域名.com</string>
	<key>setting_changeicon_success</key>
	<string>修改头像成功</string>
	<key>setting_changeicon_error</key>
	<string>修改头像失败</string>
	<key>userinfo_firstname</key>
	<string>姓名 :</string>
	<key>userinfo_email_ch</key>
	<string>邮箱 :</string>
	<key>userinfo_moblephone</key>
	<string>手机 :</string>
	<key>userinfo_sex</key>
	<string>性别 :</string>
	<key>userinfo_man</key>
	<string>男</string>
	<key>userinfo_woman</key>
	<string>女</string>
	<key>userinfo_company</key>
	<string>单位 :</string>
	<key>userinfo_work</key>
	<string>职位 :</string>
	<key>userinfo_address</key>
	<string>地址 :</string>
	<key>userinfo_remark</key>
	<string>备注 :</string>
	<key>userinfo_call_confirm</key>
	<string>确实拨打%@的电话吗？</string>
	<key>userinfo_email_empty</key>
	<string>该用户没有邮箱</string>
	<key>userinfo_telephone_empty</key>
	<string>该用户没有电话</string>
	<key>userinfo_mobile_empty</key>
	<string>该用户没有电话</string>
	<key>home_getMatter</key>
	<string>收到的事项</string>
	<key>home_putMatter</key>
	<string>发出的事项</string>
	<key>home_allMatter</key>
	<string>所有事项</string>
	<key>button_resolve</key>
	<string>解决</string>
	<key>button_reject</key>
	<string>退回</string>
	<key>home_workLog</key>
	<string>工作日志</string>
	<key>button_view</key>
	<string>查看</string>
	<key>button_uncollected</key>
	<string>未收</string>
	<key>button_backLog</key>
	<string>待办</string>
	<key>matter_status2</key>
	<string>已收, 完成</string>
	<key>matter_status0</key>
	<string>未收, 待办</string>
	<key>matter_status3</key>
	<string>已收, 退回</string>
	<key>add_new_colleague</key>
	<string>添加新同事</string>
	<key>add_cn</key>
	<string>添加</string>
	<key>userinfo_sub</key>
	<string>下级</string>
	<key>no_data</key>
	<string>没有数据</string>
	<key>friend_group</key>
	<string>朋友圈</string>
	<key>no_parent</key>
	<string>无上级</string>
	<key>private_police</key>
	<string>隐私条款</string>
	<key>about_produce</key>
	<string>关于紫光oa</string>
	<key>version_num</key>
	<string>紫光OA 1.0</string>
	<key>company_filestore</key>
	<string>公司文件柜</string>
	<key>private_filestore</key>
	<string>私人文件柜</string>
	<key>locao_filestore</key>
	<string>本地手机文件柜</string>
</dict>
</plist>
